@font-face {
  font-family: "lato";
  src: url(../font/Lato-Regular.ttf);
}
/* *****************
Général
******************* */
* {
  margin: 0;
  padding: 0;
  font-family: "lato";
  font-size: 1rem;
}
section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
h1,
h2 {
  font-size: 2rem;
  letter-spacing: 0.3rem;
  font-weight: lighter;
  text-align: center;
}
h3 {
  padding: 1.5rem;
  font-style: italic;
  font-weight: lighter;
  text-align: center;
  color: rgb(100, 100, 100);
}
.black {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}
.red {
  background-color: rgb(243, 67, 52);
  color: rgb(255, 255, 255);
  padding: 0.2rem 0.5rem;
  width: 4rem;
}
.grey {
  color: rgb(100, 100, 100);
}
.rond {
  padding: 0.1rem 0.3rem;
  border-radius: 50%;
}
/* *****************
Header
******************* */
#navHeader {
  padding: 1rem;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
}
#burger ul, #search {
  display: none;
}

/* *****************
Main / section losAngeles
******************* */
#losAngeles {
  padding: 0;
  height: 40vh;
  background-image: url(../img/la.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(255, 255, 255);
}
#losAngelesText {
  display: none;
}
/* *****************
Main / section band
******************* */

#band p {
  text-align: justify;
  padding-bottom: 2rem;
  margin: 0 0.5rem;
  line-height: 1.3rem;
}
#flexCardBand {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#flexCardBand .cards {
  width: 60%;
 }

#flexCardBand .cards p {
  padding: 1.5rem;
  text-align: center;
}
#flexCardBand img {
  width: 100%;
  border-radius: 1%;
}
/* *****************
Main / section tour
******************* */
#tour {
  background-color: rgb(0, 0, 0);
}
#tour h2 {
  color: rgb(255, 255, 255);
}
#tour h3{
  padding-bottom: 2.5rem;
}
#mois{
  margin-bottom: 2rem;
}
#mois .table {
    background-color: rgb(255, 255, 255);
  color: rgb(100, 100, 100);
  border: 1px solid rgb(200, 200, 200);
  padding: 0.5rem;
  margin: 0 0.5rem;
}
#sept{
  position: relative;
}
#sept .sold{
  position: absolute;
  left: 7rem;
  bottom: .4rem;
}
#oct{
    position: relative;
}     
#oct .sold{
  position: absolute;
  left: 7rem;
  bottom: .4rem;
}

#nov{
position: relative;
  
}
#mois .rond{
  position: absolute;
  right: 1rem;
  bottom: .6rem;
}
/* *****************
Main / section tour / images
******************* */
.cityCards {
  margin: 1rem 0.5rem;
  background-color: rgb(255, 255, 255);
}
.cardsImg {
  padding-bottom: 1rem;
}
.cardsText {
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
}
.cardsText p {
  padding-top: 1rem;
}
.cardsText button {
  margin-top: 1rem;
  padding: 0.5rem;
  border: none;
}
.cityCards img {
  width: 100%;
}
/* *****************
Main / section contact
******************* */

#addresEtForm p {
  font-size: 1.15rem;
  padding: 0.5rem;
}
#addresEtForm form {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
}
#addresEtForm .inp {
  padding: 0.5rem;
  border: 1px solid rgb(200, 200, 200);
}
#addresEtForm .mess {
  margin-top: 0.4rem;
}
#addresEtForm .send {
  margin-top: 0.8rem;
  padding: 0.5rem 1rem;
  width: 5rem;
  align-self: flex-end;
}
/* *****************
Footer
******************* */
footer{
  padding: 2rem;
  color: rgb(100, 100, 100);
  text-align: center;
}
footer p{
  padding: 1rem;
}
footer span{
  text-decoration: underline;
}
/**********************************************
***********************************************
RESPONSIVE / FORMAT DESKTOP
***********************************************
***********************************************/
@media screen and (min-width: 576px) {
#burger i{
  display: none;
}
  #burger ul, #search{
    display: flex;
  }
#burger ul{
  list-style: none;
  
}

}

